<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<properties resource="connection-info.properties"></properties>
	<typeAliases>
		<typeAlias type="org.clickMe.common.model.dto.PostDTO" alias="PostDTO"/>
		<typeAlias type="org.clickMe.common.model.dto.ImgFileDTO" alias="ImgFileDTO"/>
		<typeAlias type="org.clickMe.post.model.dto.SearchOption" alias="SearchOption"/>
		<typeAlias type="org.clickMe.post.model.dto.PostForAdminDTO" alias="PostForAdminDTO"/>
		<typeAlias type="org.clickMe.post.model.dto.DetailPostDTO" alias="DetailPostDTO"/>
		<typeAlias type="org.clickMe.post.model.dto.PostForUserDTO" alias="PostForUserDTO"/>
		<typeAlias type="org.clickMe.post.paging.PostPageCriteria" alias="PostPageCriteria"/>
		<typeAlias type="org.clickMe.common.model.dto.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="org.clickMe.notice.model.dto.NoticeSearch" alias="NoticeSearch"/>
	</typeAliases>
	
	<environments default="dev">
		<environment id="dev">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="org/clickMe/xmlmapper/InquiryMapper.xml"/>
		<mapper resource="org/clickMe/xmlmapper/PostMapper.xml"/>
		<mapper resource="org/clickMe/xmlmapper/UserMapper.xml"/>
		<mapper resource="org/clickMe/xmlmapper/CmtMapper.xml"/>
 		<mapper resource="org/clickMe/xmlmapper/RecommentMapper.xml"/>
		<mapper resource="org/clickMe/xmlmapper/PaymentMapper.xml"/>
		<mapper resource="org/clickMe/xmlmapper/NoticeMapper.xml"/>
	</mappers>
</configuration>

